#container{
    height: 600px;
    width: 600px;
    margin-left: 210px;
    background-color: rgb(8, 14, 90);
    position: relative;
}
#stats{
    background-color:rgb(247, 231, 199) 
}

.sidepanel {
    width: 200px;
    position: fixed; 
    height: 600px;
    background-color:rgb(189, 53, 43);
}

input{
    margin: .5em;
}

.circle{
    border-radius: 50%;
    position: absolute;
    background-color: purple;
}

.triangle{
    position: absolute;
}

.square{
    position: absolute;
    background-color: red;
}

.rectangle{
    position: absolute;
    background-color: green;
}